# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
.venv/
.env
instance/
uploads/
*.db
*.sqlite3

# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# PyMuPDF temp files
*.xhtml
*.svg
*.xml

# Build / Cache
dist/
build/
*.egg-info/
